nav {
    display: flex;
    align-items: center;
    background-color: rgb(66, 7, 7);
    float: right;
    margin-right: 4rem;
    border-radius: 30%;
    padding: 0.5rem;
    
}

.nav container {
    display: flex;
    align-items: center;
    background-color: #444; /* Oval container background color */
    border-radius: 50%; /* Create an oval shape using border-radius */
    padding: 1rem; /* Adjust padding as needed */
    width: 200px; /* Increase width to make the oval container larger */
    height: 100px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover,

.nav a acive {
    color: blueviolet
}